@import '~antd/dist/antd.css';

.axiostest {
  position: relative;
  right: 40%;
  top: 40%;
  text-align: center;
}
.main-page-background {
    background-image: url('img/1.png');
    width: 100%;
    height: 1312px;
    background-size: cover;
    background-position: center top;
}
.header {
    background-image: url('img/header.png');
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center top;
}
.footer {
    background-image: url('img/footer.png');
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: center bottom;
}
.content {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}
.link-to-customs {
    height: 122px;
    width: 200px;
    position: absolute;
    right: 36px;
    top: 119px;
    border: 1px solid black;
}
.custom-page-background {
    position: absolute;
    width: 100%;
    height: 769px;
    background-position: center top;
    background-repeat: no-repeat;
}
.input-form {
    height: 100px;
    width: 250px;
    position: relative;
    top: 40%;
    left: 40%;
}
.payments-button {
    height: 40px;
    width: 274px;
    position: absolute;
    right: 36px;
    top: 376px;
    border: 1px solid black;
}
.block-single {
    display: block;
    border-radius: 3px;
    background: #cddef7;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #a8a3ff;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.31);
    cursor:pointer;
    margin-bottom: 2px;
}
.block-single:after {
    content: '.';
    width: 30px;
    height: 10px;
    background: #cddef7;
    display: block;
    position: absolute;
    bottom: -10px;
    left: 39px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    border-bottom: 1px solid #a8a3ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.31);
    z-index: 100;
}
.block-single:not(:nth-child(2)):before {
    content: '.';
    width: 30px;
    height: 10px;
    background: #FFF;
    display: block;
    position: absolute;
    top: 0;
    left: 39px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    border-bottom: 1px solid #a8a3ff;
}
.block-single:not(:nth-child(2)) {
    border-top: 0;
}
