@import '~antd/dist/antd.css';

.main-page-background {
    background-image: url('img/1.png');
    width: 100%;
    height: 1312px;
    background-size: cover;
    background-position: center top;
}
.header {
    background-image: url('img/header.png');
    width: 100%;
    height: 241px;
    background-size: cover;
    background-position: center top;
}
.footer {
    background-image: url('img/footer.png');
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: center bottom;
}
.content {
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}
.link-to-customs {
    height: 122px;
    width: 200px;
    position: absolute;
    right: 36px;
    top: 119px;
    border: 1px solid black;
}
.custom-page-background {
    position: absolute;
    width: 100%;
    height: 769px;
    background-position: center top;
    background-repeat: no-repeat;
}
.input-form {
  height: 100px;
  width: 250px;
  position: relative;
  top: 40%;
  left: 40%;
}
.payments-button {
    height: 40px;
    width: 274px;
    position: absolute;
    right: 36px;
    top: 376px;
    border: 1px solid black;
}
